@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Scope+One|Open+Sans:700");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.3;
}

body {
 /* padding: 1rem; */
  background: #F5F5F5;
  font-family: "Scope One", sans-serif;
  color: rgb(113, 115, 136);
  font-size: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column; /* I kolumn i mobillayout*/
}

.main > *,
.header,
.footer {
  padding: 1rem 1rem;
  margin: 5px 5px;
}

/*ALLA BILDER SKA VARA 100% så att de anpassar sig till sin behållare oavsett mobil eller desktop!*/
img {
  width: 100%;
  height: auto;
}

h1 {
  margin: 0;
  font-size: 3.6rem;
  margin-bottom: 1rem;

}

h2 {
  font-size: 2.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  margin-bottom: 1rem;
}

a {
color:rgb(113, 115, 136);
}

strong {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.container {
  min-width: 500px;
}

.header {
 background-image: url("../images/bg-image.jpg"); 
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 300px;
}

.main {
  display: flex;
  flex-direction: column; /* I kolumn i mobillayout*/
}

.main-nav {
  background: #fff;
  padding: 1rem;
  border: 3px solid rgb(255, 0, 72);
}

.main-nav:hover {
  background-color: rgb(255, 0, 72);
  border: 3px solid rgb(113, 115, 136);
  color: #fff;
} 

ul.nav-items {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 
}

ul.nav-items li {
  margin-bottom: 0.8rem;

}
ul.nav-items li a {
text-decoration: none;
}
ul.nav-items li a:hover {
  color: #fff;
  text-decoration: underline;
  }


.content {
  background: #fff;
  border: 3px solid rgb(113, 115, 136);
  display: flex;
  flex-direction: column; /* I kolumn i mobil-layout*/
  align-items: center;
}

.box {
  display: flex;
  flex-wrap: wrap; /*Låt elementen komma på nytt rad om de inte får plats*/
  justify-content: center;
}

.info {
  min-width: 200px;
  max-width: 300px;
  margin: 2rem;
  padding: 1rem;
  color: #fff;
  background: rgb(169, 170, 181);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgb(169, 170, 181);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.direction:hover {
  color: rgb(169, 170, 181);
  background: #fff;
}

.direction h2 {
  color: inherit;
  font-size: inherit;
}

.main-picture {
  width: 50%;
}

.sidebar {
  background: #fff;
  padding: 1rem;
  border: 3px solid rgba(2, 143, 118, 0.8);
}

/* .sidebar:hover {
  background-color: rgba(2, 143, 118, 0.8);
  border: 3px solid rgb(113, 115, 136);
  color: #fff;
} */

.footer {
  background: #fff;
  border: 3px solid rgba(38, 95, 163, 0.8);
}

/* .footer:hover {
  background-color: rgba(38, 95, 163, 0.8);
  border: 3px solid rgb(113, 115, 136);
  color: #fff;
} */

/*MEDIAQUERY MED BRYTPUNKT 600px*/
/*d.v.s om skärmbredden blir större än 600px ska detta gälla*/
@media only screen and (min-width: 600px) {
  /* DESKTOP-LAYOUT GOES HERE*/
  html {
    font-size: 100%;
    line-height: 1.4;
  }


  ul.nav-items {
    flex-direction: column;
    align-items: space-around;
  }
  
  .main {
    flex-direction: row; /*Här kommer elemententen på rad istället!*/
  }

  .main-nav {
    flex: 1; /*.main-nav kommer vara lika stor som .sidebar*/
    justify-content: center;
  }

  .content {
    flex: 4; /*.content kommer vara 4ggr större än .mainnav och .sidebar*/
  }

  .sidebar {
    flex: 1; /*.sidebar kommer  vara lika stor som .main-nav*/
  }
}
